html, body, button, input, textarea {
    font-size: 15px;
    font-family: Segoe UI,SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
}

body {
    margin: 0;
}

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.siteWrapper {
    -webkit-box-flex: 1;
    flex-grow: 1;
    margin: 0 auto;
    width: 100%;
    position: relative;

}