@using Microsoft.AspNetCore.Components
@inherits LayoutComponentBase

<div class="siteWrapper">
    <Stack Horizontal="true" Style="width:100%;">
        <StackItem Grow="1" Style="overflow:hidden">

        </StackItem>
    </Stack>
</div>

@Body

