@using BlazorFluentUI.Routing
<Stack Horizontal="false" VerticalFill="true" Style="overflow:hidden;">
    <StackItem Grow="0" VerticalFill="false" Style="padding-left: 30px">
		<div class="top-row">
			<BlazorFluentUI.Link Href="/">BlazorFluentUI V@(System.Reflection.Assembly.GetAssembly(typeof(FluentUIComponentBase))?.GetName()?.Version?.ToString() ?? "NULL")</BlazorFluentUI.Link>
		</div>
	</StackItem>

	<StackItem VerticalFill="true" Style="overflow-y:auto;">
		<Nav>

		</Nav>
	</StackItem>
</Stack>
overflow-y

}
