@namespace BlazorFluentUI
@inherits FluentUIComponentBase

<style>
    @($"#{Id}.ms-Stack") > * {
        text-overflow: ellipsis;
    }

</style>

<div id=@Id class=@($"ms-Stack {ClassName}") style=@(GetStyles() + " " + Style)>
    @ChildContent
</div>
