@page "/"

<header class="root">
    <h1 class="title">Controls</h1>
</header>
<div class="section" style="transition-delay: 0s;">
    <div id="overview" tabindex="-1">
        <h2 class="subHeading hiddenContent">Overview</h2>
    </div>
    <div class="content">
        <div class="ms-Markdown">
            <p>
                Fluent UI's robust, up-to-date web controls are built with Blazor. Look through the control list to see the building blocks that are available using Fluent UI Blazor.
            </p>
        </div>
    </div>
</div>