@page "/listPage"
@using System.Linq

<BFUList ItemsSource=@data
         TItem="DataItem">
    <ItemTemplate>

        <div style="display:flex; flex-direction:row;"
             data-selection-index=@context.Index
             class=@($"ms-List-cell-default")
             data-is-focusable="true">
            <img height="25" width="25" src=@context.Item.Key />
            <em>This is item #@context.Item.Key</em>
            <span style="margin-left:10px;">@context.Item.Key</span>
        </div>
    </ItemTemplate>

</BFUList>

@code {
    int count = 0;
    System.Collections.ObjectModel.ObservableCollection<DataItem> data;

    protected override Task OnInitializedAsync()
    {
        data = new System.Collections.ObjectModel.ObservableCollection<DataItem>();

        for (var i = 0; i< 2; i++)
        {
            count++;
            data.Add(new DataItem(count));
        }

        return Task.CompletedTask;
    }
}
