@page "/stackPage"

<header class="root">
    <h1 class="title">Stack</h1>
</header>
<div class="section" style="transition-delay: 0s;">
    <div id="overview" tabindex="-1">
        <h2 class="subHeading">Usage</h2>
    </div>
    <div>

        <div class="subSection">
            <Stack>
                <Stack>
                    <StackItem Tokens=@(new StackItemTokens { Padding = 10 }) Align=@Alignment.End>
                        <span>Here's one</span>
                    </StackItem>
                </Stack>
            </Stack>
        </div>
    </div>
</div>
