
.logo-wrapper svg,
.logo-wrapper img {
  max-width: 70px;
}

.nav-wrapper a {
  color: #fff;
}

.nav-wrapper li {
  display: inline-block;
  vertical-align: middle;
}

.d-inline-block {
  display: inline-block;
}

.page-header {
  background-image: url("./img/header.png");
  background-color: #090909;
  color: #fff;
}